@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Registrera konto";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <h1 class="mb-3">@ViewData["Title"]</h1>
            <h5 id="external-login-title" class="text-secondary mb-4">
                Koppla ditt konto från <strong>@Model.ProviderDisplayName</strong>
            </h5>
            <div class="alert alert-info" id="external-login-description">
                Du har loggat in med <strong>@Model.ProviderDisplayName</strong>.
                Vänligen ange en e-postadress nedan för att slutföra registreringen.
            </div>

            <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Skriv in din e-postadress" />
                    <label asp-for="Input.Email" class="form-label">E-postadress</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <button type="submit" class="w-100 btn btn-lg btn-success">
                    Registrera konto
                </button>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
