@model IEnumerable<GitHubRepoDto>

@{
    ViewData["Title"] = "Home Page";
}



<h2>Dina GitHub Repos</h2>

<ul>
    @if(Model != null)
    {
        @foreach (var repo in Model)
        {
        <li>
            <a href="@repo.Html_Url" target="_blank">@repo.Name</a> - @repo.Description -@repo.Homepage - @repo.Stargazers_Count
        </li>
        }
    }
    
</ul>
