@model PortfolioGen.DTOs.PortfolioDto;
@{
    Layout = null;
}

@{
    ViewData["Title"] = "Profile";
}




            @Html.DisplayFor(model => model.Title)
        


            @Html.DisplayFor(model => model.Bio)


            @Html.DisplayFor(model => model.ProfileImg)
<a href="/images/@Html.DisplayFor(model => model.ProfileImage)" target="_blank">
    <img src="/images/@Html.DisplayFor(modelItem => item.ProfileImage)" alt="Profile Image" />
</a>