@model PortfolioGen.DTOs.PublicPortfolioDto;
@{
    Layout = null;
}

@{
    ViewData["Title"] = "Profile";
}




            @Html.DisplayFor(model => model.Title)
        


            @Html.DisplayFor(model => model.Bio)

@if (!string.IsNullOrEmpty(Model.ProfileImage))
{
    <a href="/images/@Model.ProfileImage" target="_blank">
        <img src="/images/@Model.ProfileImage" alt="Profile Image"/>
    </a>
}
