@model PortfolioGen.Models.Portfolio

@{
    ViewData["Title"] = "Delete";
}

<h1 class="row justify-content-center">Ta bort portfölj</h1>

<h3 class="row justify-content-center">Är du säker att du vill radera din portfölj?</h3>
<div class="row justify-content-center">

    
    <form asp-action="Delete" class="text-center">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-secondary">Tillbaka</a>
    </form>
</div>
